<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.codepath.android.instudy">

    <uses-feature android:name="android.hardware.camera" />
    <uses-permission android:name="android.permission.CAMERA"/>
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <application
        android:name=".InStudyApp"
        android:allowBackup="true"
        android:icon="@drawable/studyowl"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">
        <activity
            android:name=".activities.LoginActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="com.parse.APPLICATION_ID"
            android:value="{APPLICATION_ID}" />
        <activity android:name=".activities.CoursesActivity" />
        <activity android:name=".activities.SignUpActivity" />
        <activity android:name=".activities.MainActivity" />
        <activity
            android:name=".activities.NewCourseActivity"
            android:parentActivityName=".activities.MainActivity" />
        <activity
            android:name=".activities.OverviewCourseActivity"
            android:parentActivityName=".activities.MainActivity" />
        <activity android:name=".activities.MyProfileActivity"
            android:parentActivityName=".activities.MainActivity" >
        </activity>
        <activity android:name=".activities.UserListActivity"
            android:parentActivityName=".activities.MainActivity">
        </activity>
        <activity android:name=".activities.UserProfileActivity"
            android:parentActivityName=".activities.UserListActivity">
        </activity>

        <activity android:name=".activities.LectionActivity"
            android:parentActivityName=".activities.LectionsListActivity">
        </activity>


        <activity android:name=".activities.LectionsListActivity"
            android:parentActivityName=".activities.MainActivity">
        </activity>

        <activity android:name=".activities.AssignmentActivity"
            android:parentActivityName=".activities.AssignmentListActivity">
        </activity>


        <activity android:name=".activities.AssignmentListActivity"
            android:parentActivityName=".activities.MainActivity">
        </activity>
        <activity android:name=".activities.ChatListActivity"
            android:parentActivityName=".activities.LoginActivity">
        </activity>
        <activity android:name=".activities.ChatActivity"
            android:parentActivityName=".activities.ChatListActivity">
        </activity>
        <activity android:name=".activities.FullScreenImageActivity" />


        <activity android:name=".activities.SettingsActivity" android:parentActivityName=".activities.MainActivity"></activity>

        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths"/>
        </provider>
    </application>

</manifest>